<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
        <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var calendarEl = document.getElementById('calendar');
                var calendar = new FullCalendar.Calendar(calendarEl, {
                    initialView: 'timeGridDay',
                    allDaySlot: false,
                    nowIndicator: true,
                    scrollTime: new Date().getHours() + ":00:00",
                    slotDuration: "00:30:00",
                    slotLabelInterval: "01:00",
                    events: <%- JSON.stringify(events) %>,
                    eventClick: function(info) {
                        window.location.href = info.event.url;
                        info.jsEvent.preventDefault();
                    }
                });

                document.getElementById('view-day').addEventListener('click', function () {
                    calendar.changeView('timeGridDay');
                });
                document.getElementById('view-week').addEventListener('click', function () {
                    calendar.changeView('timeGridWeek');
                });
                document.getElementById('view-month').addEventListener('click', function () {
                    calendar.changeView('dayGridMonth');
                });
                calendar.render();
            });
        </script>
    </head>
    <body>
        <div class="header">
            <div id="logo">
                <a href="/marketplace">LEARN<span id="title-fx">LOOT</span></a>
            </div>

            <div id="profile-sidebar">
                <button id="profile-icon" onclick="doSome()"></button>
            </div>
        </div>

        <div class="container">
            <div class="menu-sidebar">
                <a href="/home"><i class="fa-solid fa-table-list" style="padding-right:5px;"></i>Overview</a>
                <a href="" id="activated-bg"><i class="fa-regular fa-calendar" style="padding-right:5px;"></i>Schedule</a>
                <a href="/tutor"><i class="fa-solid fa-person-chalkboard" style="padding-right:5px;"></i>Tutoring</a>
                <a href="/classes"><i class="fa-solid fa-graduation-cap" style="padding-right:5px;"></i>Classes</a>
            </div>

            <div class="content-schedule">
                <div class="view-navigation">
                    <button id="view-day" class="view-button"><i class="fa-solid fa-calendar-day"></i> Day</button>
                    <button id="view-week" class="view-button"><i class="fa-solid fa-calendar-week"></i> Week</button>
                    <button id="view-month" class="view-button"><i class="fa-solid fa-calendar-alt"></i> Month</button>
                </div>
                <div id="calendar"></div>
            </div>
        </div>
        <script src="/script.js"></script>
    </body>
</html>